{{define "title"}}
    {{.Title}}
{{end}}

{{define "content"}}
    <div class="ui container">
        <h1 class="ui dividing header">Welcome to your own {{.Title}}</h1>

        {{ if not .Products }}
            <p>There are no products available at the moment!</p>
        {{ else }}
            <p>Check out these goodies we're selling!</p>
            <div class="ui four cards">
                {{ range $product := .Products }}
                    <div class="ui card">
                        <div class="image">
                            <img src="/public/image.png">
                        </div>
                        <div class="content">
                            <div class="header">{{ $product.Title }}</div>
                            <div class="meta">
                                <a class="group">Meta</a>
                            </div>
                            <div class="description">{{ $product.Description }}</div>
                        </div>
                        <div class="extra content">
                            <span>{{ $product.Price | currency "DE" }}</span>
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
{{end}}